---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "Developed a predictions platform with admin dashboard, Firebase integration, and eCommerce features for enhanced user engagement and monetization.",
    link: "https://google.com",
  },
  {
    index: 1,
    title:
      "Built a financial calculator app offering real-time insights, secure data handling, and intuitive design to meet diverse client demands.",
    link: "https://google.com",
  },
  {
    index: 2,
    title:
      "Created a city exploration app and website with scalable data management, seamless booking, and comprehensive service categories for users.",
    link: "https://google.com",
  },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="Case Studies"
    description="Explore Real-Life Examples of How BubbleBuddy Creates Fast and Innovative Tech Solutions for Clients."
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p style="text-align: justify;">{card.title}</p>
              <a href={card.link} class="flex items-center gap-[15px]">
                <span class="text-green">Case Info</span>
                <picture>
                  <Image src={larrow} alt="Arrow pointing up right" />
                </picture>
              </a>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
